Data Collection:

Collect the customer ratings data from the airline quality website called Skytrax. Collect data about airline ratings, seat ratings and lounge experience ratings from this website.

In [1]:
#imports

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#create an empty list to collect all reviews
reviews = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country s is from
country = []

In [3]:
for i in range(1,36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")

    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 31
Error on page 32
Error on page 32
Error on page 35
Error on page 35

In [4]:
#check the length of total reviews extracted
len(reviews)

3500

In [5]:
len(country)

3500

In [6]:
#check the length 
stars = stars[:3500]

In [7]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [8]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | A simple story with an unfor...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,21st July 2023,Germany
1,✅ Trip Verified | Flight was delayed due to t...,1,21st July 2023,United Kingdom
2,Not Verified | Fast and friendly check in (to...,4,20th July 2023,United Kingdom
3,✅ Trip Verified | I don't understand why Brit...,8,20th July 2023,United Kingdom
4,Not Verified | I'm sure that BA have graduall...,2,20th July 2023,United Kingdom

In [10]:
df.shape

(3500, 4)

Export the data into a csv format

In [11]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")